<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8">
<title>The Agenda</title>
 {% load static %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'landingpage/css/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>

<nav class="navbar">
<div class="nav-container">
<a href="/" class="logo">CK@fifty</a>

<ul class="nav-links">
<li><a href="/">Welcome</a></li>
<li><a href="/agenda">Agenda</a></li>
<li><a href="/services">Services</a></li>
</ul>

<button id="menu-toggle" class="menu-toggle">☰</button>

</div>

<div id="mobile-menu" class="mobile-menu">
<a href="/">Welcome</a>
<a href="/agenda">Agenda</a>
<a href="/services">Services</a>
</div>
</nav>

<section class="agenda">

<p class="section-label">Day by Day</p>

<h1 class="section-title">
The Agenda
</h1>

<div class="day-card">

<h2>Day 1 — Arrival Day (7th July) </h2>

<div class="activity">

<p class="time">Throughout the Day</p>

<h3>Airport Welcome & Transfers</h3>
    <p>Arrive at Jomo Kenyatta International Airport and settle into your accommodation.</p>
    <p>Airport transfers are handled Lesus Exucutive.</p>

</div>

<div class="activity">

<p class="time">Evening</p>

<h3>Intimate welcome dinner</h3>


</div>

</div>

<div class="day-card">

<h2>Day 2 — Rest & Recharge (8Th July)</h2>

<p>
Take the day to rest and explore Nairobi at your own pace.
</p>

</div>

<div class="day-card">

<h2>Day 3 — Nature & Night Out (9Th July)</h2>

<div class="activity">
<p class="time">Morning</p>

<h3>Karura Forest Walk</h3>
<p>To be at Karura between 7:30Am and 8:00Am. We start walking at 8:00Am.</p>
<p>Enjoy a guided nature walk, light exercise, and unhurried conversations surrounded by lush greenery and tranquil waterfalls..</p>


</div>

<div class="activity">

<h3>Brunch</h3>

<p>Enjoy an intimate brunch experience after the walk at Cotton Tree Restaurant at Gate F. <br>
Cotton tree Restaurant, offers a serene brunch experience set in a lush, garden-inspired space in Thigiri. </p>

</div>

<div class="activity">

<h3>Spa & Wellness</h3>

<p>Optional relaxation and wellness treatments.</p>
<p>Enjoy  massages, facials, body treatments, manicures, pedicures, detox programs, and steam/sauna sessions at Serenity Spa , Gigiri. <br> Your designated hotels also have spas and wellness treatments</p>

</div>

<div class="activity">

<p class="time">Evening</p>

<h3>Dance</h3>
<p>For the evening we have dance classes by 'Dance Factory Kenya'.</p>


</div>

</div>

<div class="day-card">

<h2>Day 4 — Adventure Day (10Th July)</h2>

<div class="activity">
<p class="time">Morning</p>

<h3>Game Drive & Wildlife</h3>

<p>We shall have a game drive at <b>Nairobi National Park</b> from 6AM to 10Am.You can also decide to have breakfast inside the park.</p>
<h4>Optional activities:</h4>
    <ul>
        <li> <b>The David Sheldrick Wildlife Trust (DSWT)</b> is a renowned wildlife conservation organization in Kenya, best known for its elephant orphanage located near
Nairobi National Park. It rescues and rehabilitates orphaned baby elephants and rhinos<</li>
        <li><b>The Giraffe Centre in Lang’ata, Nairobi,</b> is a conservation and education center dedicated to protecting the endangered
Rothschild’s giraffe.</li>
        <li><b>The Maasai Market</b> is a vibrant open-air craft market held at various locations across Nairobi throughout the week. Feel free to pay a visit on your rest days. </li>
    </ul>



</div>

</div>

<div class="day-card">

<h2>Day 5 — The Celebration (11Th July)</h2>

<div class="activity">

<h3>Prepare & Pamper</h3>

<p>Get ready for the big evening.</p>

</div>

<div class="activity">

<h3>Birthday Dinner</h3>

<p>The main celebration event at 6PM.</p>

</div>

</div>

</section>

<footer class="footer">
<p>Live. Love. Inspire.</p>
</footer>

<script src="{% static 'landingpage/js/script.js' %}"></script>
</body>
</html>
