<!DOCTYPE html>

<html lang="en">
<head>
<meta charset="UTF-8">
<title>Welcome</title>
 {% load static %}
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'landingpage/css/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,500&family=Inter:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>

<nav class="navbar">
<div class="nav-container">
<a href="/" class="logo">CK@fifty</a>

<ul class="nav-links">
<li><a href="/">Welcome</a></li>
<li><a href="/agenda">Agenda</a></li>
<li><a href="/services">Services</a></li>
</ul>

<button id="menu-toggle" class="menu-toggle">☰</button>

</div>

<div id="mobile-menu" class="mobile-menu">
<a href="/">Welcome</a>
<a href="/agenda">Agenda</a>
<a href="/services">Services</a>
</div>
</nav>

<section class="hero"style="background-image: url('{% static 'nairobi-skyline.jpg' %}')">

<div class="hero-content">
<p class="hero-subtitle">Welcome</p>

<h1 class="hero-title">
A Week to Celebrate CK
</h1>

<p class="hero-description">
Join us for an unforgettable Nairobi experience filled with adventure,
nature, and celebration.
</p>

<a href="/agenda" class="hero-button">
View the Agenda
</a>

</div>

</section>

<section class="week-overview">

<h2>The Week Overview</h2>

<div class="overview-grid">

<div class="overview-card">
<h3>Day 1</h3>
<h4>Arrival</h4>
<p>Airport welcome and transfers.</p>
</div>

<div class="overview-card">
<h3>Day 2</h3>
<h4>Rest & Recharge</h4>
<p>A relaxing day to settle in.</p>
</div>

<div class="overview-card">
<h3>Day 3</h3>
<h4>Nature & Night Out</h4>
<p>Karura Walk · Brunch · Spa</p>
</div>

<div class="overview-card">
<h3>Day 4</h3>
<h4>Adventure</h4>
<p>Game Drive & Wildlife</p>
</div>

<div class="overview-card">
<h3>Day 5</h3>
<h4>The Celebration</h4>
<p>Prepare & Dine at 6pm</p>
</div>

</div>

</section>

<footer class="footer">
<p>Live. Love. Inspire.</p>
</footer>

<script src="{% static 'landingpage/js/script.js' %}"></script>
</body>
</html>
